html {
  font-size: 10px;
  background: url(./assets/image.png);
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4em solid black;
  margin: 1em;
  font-size: 1.5em;
  padding: 1em .5em;
  transition: all .07s ease;
  width: 10em;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0, 0.5);
  text-shadow: 0 0 .6em black;
}

.playing {
  transform: scale(1.1);
  border-color: #D67097;
  box-shadow: 0 0 1rem #D67097;
}

kbd {
  display: block;
  font-size: 4em;
}

.sound {
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #D67097;
}